@font-face {
    font-family: 'Jost';
    src: url('/fonts/Jost-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url('/fonts/Jost-Italic-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;
  margin: 0 20px;
  padding: 0;
  background-color: #fff;
}
h1,h2,h3,h4,h5,h6{
  color: #2F4057;
}
h1 { font-family: 'Jost', sans-serif; font-size: 36px; font-weight: 600; line-height: 1.2; margin-top: 5px; }
h2 { font-family: 'Jost', sans-serif; font-size: 30px; font-weight: 600; line-height: 1.3; margin-top: 5px; }
h3 { font-family: 'Jost', sans-serif; font-size: 26px; font-weight: 600; line-height: 1.3; margin-top: 5px;}
h4 { font-family: 'Jost', sans-serif; font-size: 22px; font-weight: 500; line-height: 1.4; margin-top: 5px;}
h5 { font-family: 'Jost', sans-serif; font-size: 18px; font-weight: 500; line-height: 1.4; margin-top: 5px;}
h6 { font-family: 'Jost', sans-serif; font-size: 16px; font-weight: 500; line-height: 1.4; margin-top: 5px;}

body,p{
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  
  color: #6E7C8C;
}
p{
  padding: 8px 0px;

}


em {
    font-style: italic;
}

main,nav,footer{
  box-shadow: 0 4px 20px rgba(47, 64, 87, 1);

}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
  border-radius: 0.2rem;
}

table {
  border-collapse: collapse;
  margin: auto;
}

td, th {
  border: 0.1rem solid gray;
  padding: 0.3rem 0.5rem;
}

pre {
  overflow-x: auto;
  border: 0.1rem solid lightgray;
  padding: 1rem;
}

code {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

kbd {
  border: 0.1rem solid darkgray;
  border-radius: 0.2rem;
  margin: 0.1rem;
  padding: 0.15rem;
}

kbd:has(kbd) {
  padding: 0.3rem 0;
}

.Banner {
  list-style: none;
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  justify-content: center;
  margin: 0;
  padding: 0;
}




  .Banner-item:nth-child(1) {
    order: 5;
  }



  .Banner-item:nth-child(2) {
    order: 4;
  }



  .Banner-item:nth-child(3) {
    order: 3;
  }



  .Banner-item:nth-child(4) {
    order: 2;
  }



  .Banner-item:nth-child(5) {
    order: 1;
  }



.Banner-item--title {
  flex-grow: 1;
}

.Banner-heading {
  margin: 0;
}
.Banner-logo{
  width: 150px;      /* keeps aspect ratio */
  display: block;
  padding: 10px;
}
.Banner-link {
  color:#2F4057;
  padding: 0.5rem 1rem;
  font-weight: 600;
  
}
.Banner-link:hover{
  color:#1FEDAB;


}

/* topbar */
.top-bar {
  background: #2F4057;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 40px;
  flex-wrap: wrap;
}

.top-left, .top-right {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}

.top-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.top-item i {
  color: #fff;
  

}

.top-right a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.top-right a:hover {
  color: #00bfa6;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #C8CFD7;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.3s;
}

.social-icons a:hover {
  background: #009e8a;
}

@media (max-width: 768px) {
  .top-bar {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
  .top-left, .top-right {
    justify-content: center;
  }
}
.social-icons>a>svg,.top-item>svg{
   fill: #4E5D71;

}
/* topbar */

/*nav-bar start --padding:0.63rem ;*/
.nav-bar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  
}

.nav-bar-left,
.nav-bar-right {
  flex: 1;
}

.nav-bar-med {
  flex: 2;
  
}
.nav-bar-right{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#F2A821;
  height: 100px;
}
.Donate {
  color: #fff;
  padding: 10px 50px;
  background-color: #22B6AF;
  display: inline-block; /* change inline to inline-block to allow transform */
  text-decoration: none;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.Donate:hover {
  transform: scale(0.95); /* “squeeze” effect */
  background-color: #1fa79a; /* optional darker shade on hover */
}
.Donate svg {
  fill: #fff; /* icon color */
}



.Heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  
}

.Heading-title {
  margin: 1.5rem 0.5rem 0 0;
}

.Heading-link {
  color: #282828;
}

/**/

.Tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.5rem 0;
  padding: 0;
}

.Tags-item {
  border-radius: 0.2rem;
  margin: 0.2rem;
  padding: 0 0.3rem;
}

.Tags-link {
  color: white;
}



  .Divider {
    display: flex;
    justify-content: center;
  }

  .Divider::after {
    content: "\2500\2500";
  }



.Pagination {
  color: inherit;
}

.Pagination--right {
  float: right;
}
/* Footer  background-color: #161616;*/

.Footer {
  background: #2F4057;
  border-top: 2px dashed #FF851B;
  color: #fff;
  padding: 60px 20px 20px;
  
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Footer columns */
.footer-column {
  flex: 1 1 250px;
}

.footer-column h3 {
  
  margin-bottom: 15px;
  color: #ffffff;
}

.footer-column p,
.footer-column li {
  color: #fff;
}

.footer-column a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-column a:hover {
  color: #1FEDAB;
}

/* List styles */
.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

/* Button style in custom column */
.btn-footer {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
  border: solid #fff 2px;
  text-decoration: none;
  
  transition: background 0.3s;
}

.btn-footer:hover {
  background-color: #ffffff;
}
.btn-footer a:hover{

color: #282828;
}


/* Footer bottom */
.footer-bottom {
  text-align: center;
  margin-top: 40px;
  color: #ccc;
  border-top: 1px solid rgba(255,255,255,0.2);
  padding-top: 15px;
}

/* Responsive adjustments */
@media screen and (max-width: 900px) {
  body{
    margin: 0;
  }
  .footer-container {
    flex-direction: column;
    text-align:left;
    gap: 30px;
  }
  .footer-column{
    flex: 1 1 190px;
  }

  .footer-column a,
  .footer-column li,
  .footer-column p {
    display: block;
  }
}
/* Footer columns */

/*.u-wrapper {
  max-width: 42rem;
  margin: auto;
}

.u-padding {
  padding: 0 1rem;
}*/
 .u-background{
  background-color: <no value>;
}

.M-contaner {
  max-width: 42rem;
  margin: 0 auto;
  width: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.u-clickable {
  text-decoration: none;
  display: inline-block;
}

.u-noboosting {
  max-height: 1000000px;
}

/* main content satart */
.three-div-section,.activities-section,.owner-section,.collaboration-section .container{
  max-width: 1350px;
  margin: 0 auto;
  width: 100%;

}
/* Hero section styling 
.hero {
  height: 70vh; 
  background-color: #577C8E;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
}*/


.hero {
  height: 550px;
  background-image: url('/Image/dsg.webp');
  background-size: cover;
  background-position: center;
}





.hero-content {
  max-width: 800px;
  padding: 20px;
}

.hero-title {
  margin-bottom: 1rem;
  color: #FFFFFF;
}

.hero-subtitle {
  margin-bottom: 2rem;
  color: #ccf;
}

.hero-button {
  padding: 12px 30px;
  background-color:#2F4057;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}

.hero-button:hover {
  background-color:#00EBA0;
}

/* Hero section styling */

/* 3rd contaner */
/* Container flex layout */
.three-div-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px 20px;
}

/* 1️⃣ Image div */
.div-image {
  flex: 1 1 300px; /* grows, shrinks, minimum 300px */
}

.div-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* 2️⃣ About Us div */
.div-about {
  flex: 2 1 400px;
}

/* 3️⃣ Quotes / notifications div */
.div-quotes {
  flex: 1 1 250px;
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  
}

.div-quotes .scroll-list {
  list-style: none; /* remove default bullets */
  padding: 0;
  margin: 0;
}

.div-quotes .scroll-list li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

/* Arrow before each li */
.div-quotes .scroll-list li::before {
  content: "↪"; /* arrow symbol */
  position: absolute;
  left: 0;
  color: #0074d9;
}

/* Scrollbar styling (optional, for modern browsers) */
.div-quotes::-webkit-scrollbar {
  width: 10px;
}

.div-quotes::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 3px;
}

/* Responsive */
@media screen and (max-width: 900px) {
  .three-div-section {
    flex-direction: column;
  }

  .div-quotes {
    max-height: 200px;
  }
}
/* 3rd contaner */
.forth-section{
  background-color: transparent;
}
.heading{
   display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 0px 20px;
  border-bottom: dashed 2px #00000020;

}
.subtitle {
  text-transform: uppercase;
  margin-bottom: 5px;
}
.title {
  margin-bottom: 15px;
}
/* 4th contaner */
.activities-section {
  padding: 0px 20px;
}

.activities-section .heading {
  text-align: center;
  margin-bottom: 40px;
}

.activities-section .heading .subtitle {
  color: #888;
 
  letter-spacing: 1px;
}

.activities-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
  gap: 30px;
  padding-bottom: 40px;
}

.activity-card {
  background-color: #EFF2F7;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.activity-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0,0,0,0.15);
}

.activity-card .activity-image img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.activity-card h3 {
  margin-bottom: 10px;
}

/* 4th contaner */

/* 5th contaner */
.fif-section{
  background-color: #EFF2F7;
  border-radius: 30px;

}
/* Container layout */
.owner-section {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  padding-bottom:40px ;

}

/* Left div: Owner image */
.owner-image {
  flex: 1;
  text-align: center;
}

.owner-image img {
  width: 100%;
  max-width: 250px;
  
  
  transition: transform 0.3s ease;
}

.owner-image img:hover {
  transform: scale(1.05);
}

/* Right div: Owner details */
.owner-details {
  flex: 2 1 400px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.owner-details .owner-name {
  margin-bottom: 8px;
}

.owner-details .owner-designation {
  margin-bottom: 15px;
}

.owner-details .owner-description {
  padding-bottom: 20px;

  
  
}

/* Social links */
.owner-social a {
  display: inline-block;
  margin-right: 10px;
  padding: 6px 12px;
  background-color: #0074d9;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  transition: background 0.3s;
}

.owner-social a:hover {
  background-color: #005fa3;
}

/* Responsive adjustments */
@media screen and (max-width: 900px) {
  .owner-section {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  .owner-details {
    flex: 1 1 100%;
  }

  .owner-social a {
    margin-bottom: 8px;
  }
}
/* 5th contaner */
.collaboration-section {
  padding: 40px 0px;
  background-color:#EFF2F7;
  margin-bottom: 20px;
}
.collaboration-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

.collaboration-content .text {
  border-radius: 30px;
    background-color: #2F4057;
    flex: 1 1 300px;
    text-align: left;
    padding: 40px;
}
.text>p{
  color: #ffffffbf;
}
.text>h2{
  color: #fff;
}

.collaboration-content .text a:hover {
  text-decoration: underline;
}

.collaboration-content .image {
  flex: 1 1 300px;
  text-align: center;
}

.collaboration-content .image img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}
